
<!-- <app-header (addVehicle)="onAddVehicle()"></app-header>

<div class="main-content">
  <app-vehicle #vehicleComponent></app-vehicle>
</div>
 -->



 <!-- <app-header  -->
    <!-- (addVehicle)="onAddVehicle()"  -->
    <!-- (searchVehicle)="onSearchVehicle($event)" -->
    <!-- (filterVehicles)="onFilterVehicles($event)">     -->
<!-- </app-header> -->

<!-- 
<div class="main-content">
  <app-vehicle #vehicleComponent [searchTerm]="searchTerm"></app-vehicle>
</div> -->



<app-header
  [searchTerm]="searchTerm"
  (addVehicle)="onAddVehicle()" 
  (searchVehicle)="onSearchVehicle($event)"
  (filterVehicles)="onFilterVehicles($event)">
</app-header>

<div class="main-content">
  <app-vehicle #vehicleComponent [searchTerm]="searchTerm"></app-vehicle>
</div>
