
   h2[mat-dialog-title] {
    margin-bottom: 5px;   
    padding-top: 5px;   
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    height: 100%;
    padding: 20px;  
  }

  .vehicle-form {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    max-width: 400px;
    width: 100%;
    padding-top: 20px; 
    box-sizing: border-box;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;  
    gap: 15px;                 
  }
  